.descBox {
  border: 1px solid gray;
  background-color: lightblue;
  border-radius: 5px;
}
.descBox > div:nth-child(1) {
  font-size: 18px;
  border-bottom: 1px solid gray;
  padding-top: 5px;
  padding-bottom: 5px;
}
.descBox > div {
  padding-top: 5px;
  padding-bottom: 5px;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
